<a href="https://colab.research.google.com/github/Rishavbhattacharya0105/Algorithm/blob/master/Logistic%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv')

In [80]:
data.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Adult
0   M   0.455     0.365  ...          0.1010         0.150      1
1   M   0.350     0.265  ...          0.0485         0.070      0
2   F   0.530     0.420  ...          0.1415         0.210      1
3   M   0.440     0.365  ...          0.1140         0.155      1
4   M   0.330     0.255  ...          0.0395         0.055      0

[5 rows x 9 columns]

In [81]:
data_cat=data[['Sex']]

In [82]:
data_con=data.drop(['Sex'],axis=1)

In [83]:
def log(data_cat):
  from sklearn.preprocessing import LabelEncoder
  return data_cat.apply(LabelEncoder().fit_transform)
data_cat = log(data_cat)

In [84]:
data_final = pd.concat([data_cat,data_con],axis = 1)
data_final.head()

   Sex  Length  Diameter  ...  Viscera weight  Shell weight  Adult
0    1   0.455     0.365  ...          0.1010         0.150      1
1    1   0.350     0.265  ...          0.0485         0.070      0
2    0   0.530     0.420  ...          0.1415         0.210      1
3    1   0.440     0.365  ...          0.1140         0.155      1
4    1   0.330     0.255  ...          0.0395         0.055      0

[5 rows x 9 columns]

In [85]:
data_final_1 = data_final[data_final.Sex !=1]
data_final_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1964 entries, 2 to 4175
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             1964 non-null   int64
 1   Length          1964 non-null   float64
 2   Diameter        1964 non-null   float64
 3   Height          1964 non-null   float64
 4   Whole weight    1964 non-null   float64
 5   Shucked weight  1964 non-null   float64
 6   Viscera weight  1964 non-null   float64
 7   Shell weight    1964 non-null   float64
 8   Adult           1964 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 153.4 KB

In [86]:
X = pd.DataFrame()
def log():
  X = data_final_1.loc[:,data_final_1.columns != 'Adult']
  return X
X = log()

In [87]:
X.head()

    Sex  Length  Diameter  ...  Shucked weight  Viscera weight  Shell weight
2     0   0.530     0.420  ...          0.2565          0.1415          0.21
6     0   0.530     0.415  ...          0.2370          0.1415          0.33
7     0   0.545     0.425  ...          0.2940          0.1495          0.26
9     0   0.550     0.440  ...          0.3145          0.1510          0.32
10    0   0.525     0.380  ...          0.1940          0.1475          0.21

[5 rows x 8 columns]

In [88]:
y = pd.DataFrame()
def log():
  y = data_final_1.loc[:,data_final_1.columns == 'Adult']
  return y
y = log()

In [89]:
y.head()

    Adult
2       1
6       1
7       1
9       1
10      1

In [90]:
from sklearn.model_selection import train_test_split
def log():
  return train_test_split(X,y,test_size = 0.3, random_state = 3)
X_train,X_test,y_train,y_test = log()

In [91]:
def log():
  print(X_train.shape)
  print(y_train.shape)
log()

(1374, 8)
(1374, 1)

In [92]:
from sklearn.linear_model import LogisticRegression
def log():
  logreg = LogisticRegression()
  return logreg
logreg = log()

In [93]:
def log():
  logreg.fit(X_train,y_train)
log()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [101]:
y_pred_train = pd.DataFrame()
def log():
  y_pred_train = logreg.predict(X_train)
  return y_pred_train
y_pred_train = log()
y_pred_train.shape

(1374,)

In [104]:
y_pred_test = pd.DataFrame()
def log():
  y_pred_test = logreg.predict(X_test)
  return y_pred_test
y_pred_test = log()

In [105]:
from sklearn.metrics import accuracy_score
def log():
  print(accuracy_score(y_test,y_pred_test))
log()

0.8305084745762712

In [118]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test,y_pred_test))
def log():
  confusion_matrix.index = ['True Negative','True Positive']
  confusion_matrix.columns = ['Predicted Negative','Predicted Positive']
  print(confusion_matrix)
log()

               Predicted Negative  Predicted Positive
True Negative                 128                  62
True Positive                  38                 362